.left-col {
	border:1px solid #CECECE;
	border-radius: 18px;
	background-color:#F0F0F0;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;

	&.grid-70 > h1 {
		margin: 0 0 5px;
		font-size: 1.6em;
		font-family:Celestia !important;
	}

	.errorurl {
		padding: 2px 5px;
		margin: 1px 2px;
		border: 1px solid #000;
		display: inline-block;
	}
	p {
		padding: 0;
		margin: 0 0 5px;
		font-size: .8em;

		&:last-child a {
			font-variant: small-caps;
		}
	}
	img {
		max-width: 160px;
		width: 100%;
		display: block;
		margin: 10px auto;
	}
}
