.red {
	color: red;
}
table {
	border-collapse: collapse;
	width:95%;
	margin: 1em auto;
}
thead {
	font-size:22px;
}
.listing > li .que {
	font-family: Celestia;
	&:before {
		content: '#' attr(id) ' ';
	}
}
.listing > li .ans p {
	margin: 0;

	&:not(:last-child) {
		margin-bottom: 10px !important;
	}
}
