@import "vars";
@import "theme_dialog";
@import "theme_forms";
@import "../css/typicons.min.css";
@font-face {
	font-family: "Celestia";
	src: url('../font/Celestia Medium Redux.ttf');
	src: local('Celestia Redux Alternate'), local('Celestia Medium Redux'), url('../font/Celestia Medium Redux.ttf') format('truetype');
}

:focus { outline: 0 }

// Colors
.color-blue { color: $NBlue }
.color-darkblue { color: $NDarkBlue }
.color-green { color: $NGreen }
.color-red { color: $NRed }
.color-orange { color: $NOrange }
.color-yellow { color: $NYellow }
@import "theme_notices";
@import "theme_buttons";
// Alignment
.align-center { text-align: center }
.align-left { text-align: left }
.align-right { text-align: right }

// Mobile-only Styles
@media all and (max-width: $Breakpoint) {
	#main {
		position: initial;
		padding: 10px 5px;
	}

	.notice > label:first-child { text-align: center; font-size: 1.2em }
}
// Desktop-only Styles
@media all and (min-width: $Breakpoint) {
	#main {
		position: relative;
		z-index: 1;
		padding: 8px 8px #{8px + 38px} 8px;
	}

	.notice > label:first-child { font-size: 1.4em }
}

body {
	color:#000;
	background: #fff no-repeat fixed right bottom;
	user-select: none;
	cursor: default;
	margin:0;
	font-family: "Celestia", sans-serif;
}

#main {
	position: relative;
	z-index: 1;
	width: 100%;
	box-sizing: border-box;
	transition: padding-left .5s ease-in-out;
}
#content {
	border-radius: 5px;
	border: 1px solid $ContentOutline;
	background-color: $ContentBG;
	padding: 10px;
	color: #000;
	box-sizing: border-box;
	width: 100%;

	> h1 {
		font-size: 2em;
		text-align: center;
		margin: 0 0 5px;
		font-family: "Celestia", sans-serif;

		+ p {
			font-size: 1.6em;
			text-align: center;
			margin: 0 0 10px;
			font-style: italic;
		}
	}
}
#content, #dialogContent, .notice {
	a:not(.btn) { @include link }
}
