.left-col > .title {
	text-align: center;
}
.left-col > .title {
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}
.left-col > .title > h1 {
	font-family: Celestia;
	font-size: 2em;
	margin: 10px 0px 5px;
}
.left-col > .title > h2 {
	font-size: 1.4em;
	margin: 5px 0px 10px;
}
.left-col > .title,
.log-entry {
	border: 1px solid #CECECE;
	background-color: #F0F0F0;
	box-sizing: border-box;
	padding: 10px calc(10px + 3.5%);
}
.left-col .changelog {
	list-style: none;
	padding: 0;
	margin:0;
}
.log-entry > ul {
	list-style: none;
	font-size: 18px;
	margin: 0px;
}
.log-entry > ul > li {
	padding-left: 15px;
	text-indent: -10px;
}
.log-entry > ul > li:before {
	content: "\2022";
	padding-right: .5em;
}
.log-entry > .version {
	display: block;
	margin: 0px 0px 10px;
	font-size: 36px;
	font-family: Celestia;
	text-align: right;
}
.log-entry > *:last-child {
	margin-bottom: 0;
}
.log-entry h2 {
	margin: 10px 0px;
	font-size: 1.3em;
}
.log-entry:not(:last-child) {
	border-bottom: 0px;
}
.log-entry:last-child {
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
}
.newPonyNames > li a, a.pony-icon { text-decoration: none }
.pony-icon { font-family: Celestia }
.newPonyNames {
	padding: 0 0 0 25px;
	margin: 0;
	list-style: none;
}